* {
  box-sizing: border-box;
  margin: 0;
}
html {
  margin: 0;
  background: #ebebeb;
}

body {
  width: 100%;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 80%;
}

button{
    cursor: pointer;
}
