body {

  font-family: Arial, sans-serif;
  /* background-color: #f2f6ff; Light blue background */
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the container fill the viewport height */
}

.card {
  width: 90%; /* Take up 90% of the available width */
  max-width: 50rem; /* Limit maximum width */
  background-color: #fff; /* White background */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0; /* Rounded corners only on top */
}

.details {
  padding: 1.5rem;
}

.title {
  font-size: 1.5rem; /* Larger title font size */
  margin-bottom: 1rem;
  color: #333; /* Dark text color */
}

.description {
  margin-bottom: 1.5rem; /* Increase spacing */
  color: #555; /* Slightly darker text color */
}

.info {
  margin-bottom: 1rem;
  color: #777; /* Lighter text color */
}

.categories {
  margin-top: 1rem;
}

.category {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  font-size: 0.875rem;
  color: #555; /* Slightly darker text color */
}

.button {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1.5rem; /* Increase spacing */
}

.button:hover {
  background-color: #0056b3;
}
