.cardContainer {
  display: flex;
  justify-content: center;
}

.card {
  min-width: 50rem;
  width: 100rem;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.imgContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;


}
.image {
  width: 55%;
  height: auto;
  /* max-height: 200px; */
  object-fit: cover;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
}

.details {
  padding: 1.5rem;
}

.title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem;
}

.info {
  margin-bottom: 0.5rem;
}

.categories {
  margin-top: 1rem;
}

.category {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.button {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.button:hover {
  background-color: #0056b3;
}
