/* EmployeeProfile.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.row3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.info img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 10px;
}

.lvl {
  margin-top: 5px;
}

.company {
  margin-bottom: 20px;
  text-align: center;
}

.contactCard {
  margin-top: 8rem;
  border-radius: 8px;
  padding: 4em;
  margin-bottom: 20px;
  text-align: center;
}

.contact h1 {
  margin-bottom: 10px;
}

.contactInfo {
  margin-bottom: 20px;
}

.contactInfo p {
  font-weight: 600;
  margin: 5px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  margin: 0 10px;
  font-size: 2em;
  color: #333;
}

.icons a:hover {
  color: #007bff;
}

.xp {
  background-color: aliceblue;
  padding: 30px 20px;
  border-radius: 8px;
  text-align: center;
}

.xp h1 {
  margin-bottom: 20px;
}

.xpInfo p {
  margin: 10px 0;
  font-weight: bold;
}
